<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iOSScan.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1FE9EC971EC15F78007FF336</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FE9ECB01EC15F78007FF336</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FE9ECBB1EC15F78007FF336</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
